<section
  class="grid items-center py-[--spacing]"
  style="--spacing: {{ section.settings.spacing }}px">
  <div class="container mx-auto px-4 grid grid-cols-1 lg:grid-cols-2 gap-4 md:gap-5 ">
    <div class="flex flex-col items-start gap-4 md:gap-5 col-span-1">
      <h1 class="max-w-lg text-balance scroll-m-20 text-3xl font-medium tracking-tight lg:text-4xl">
        {{ section.settings.heading }}
      </h1>
      <p class="max-w-prose text-lg text-gray-500">
        {{ section.settings.text }}
      </p>
      {% if section.settings.button_label != blank %}
        <a
          {% if section.settings.button_link != blank %}
            href="{{ section.settings.button_link }}"
          {% else %}
            href="{{ routes.root_url }}"
          {% endif %}
          class="inline-flex items-center justify-center rounded-sm font-medium transition-colors disabled:pointer-events-none disabled:opacity-50 px-8 h-12 text-white bg-black">
          {{ section.settings.button_label }}
        </a>
      {% endif %}
    </div>
    {% if section.blocks.size > 0 %}
      <ul class="flex flex-col col-span-1 list-none" role="list">
        {% for block in section.blocks %}
          {% liquid
            assign content = null
          %}
          <li class="w-full">
            {% if block.settings.content != blank %}
              {% capture content %}
              <div class="rte">
                {{ block.settings.content }}
              </div>
              {% endcapture %}
            {% endif %}
            {% render 'collapsible', title: block.settings.heading, content: content %}
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Collapsible content",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Our questions and answers"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Text",
      "default": "This an example of a collapsible content section. You can add as many collapsible content as you want."
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Help Center"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "range",
      "id": "spacing",
      "min": 0,
      "max": 80,
      "step": 4,
      "unit": "px",
      "label": "Vertical Spacing",
      "default": 16
    }
  ],
  "blocks": [
    {
      "name": "Collapsible",
      "type": "collapsible",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading",
          "default": "Collapsible heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Talk about the informations that are related to the heading.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collapsible ontent",
      "blocks": [
        {
          "type": "collapsible"
        },
        {
          "type": "collapsible"
        },
        {
          "type": "collapsible"
        },
        {
          "type": "collapsible"
        },
        {
          "type": "collapsible"
        }
      ]
    }
  ]
}
{% endschema %}
